{% extends "auctions/layout.html" %}
{% load static %}
{% block style %}
<link href="{% static 'auctions/styles.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<style>
    ul {
        list-style-type: none;
    }
    .liflex {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 10px;
        /*padding-left: 5%;*/
    }
    .item-container {
        padding: 20px;
        display: flex;
        flex-direction: row;
        border: 2px solid dodgerblue;
        width: 90vw;

    }
    .item-description {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    body {
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @media screen and (max-width: 900px) {
        .item-container {
            flex-direction: column;
        }
        .img-container {
            padding: 1rem;
            display: flex;
            justify-content: center;
        }
    }
    @media screen and (max-width: 500px) {
        h3 {
            font-size: 1rem;
        }
    }
</style>
{% endblock %}
{% block title %}
Active Listings
{% endblock %}
{% block body %}

    {{ message }}
    <h2>Active Listings</h2>
<ul class="liflex">
    {% for item in items %}

        <li>
            <ul class="item-container">
                <li>
                <div class="img-container">
                    {% if item.img == "" %}
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/450px-No_image_available.svg.png" alt="no image" width="180" height="181">
                    {% else %}
                    <img src="{{ item.img }}" alt="{{ item.title }}" width="180" height="181">
                    {% endif %}
                </div>
                </li>
        <li>
        <ul class="item-description">
                <li><h3><a href="{% url 'item' item.id %}">{{ item.title }}</a></h3></li>
<!--                <li>Description: {{ item.description }}</li>-->
                <li>Current Bid: ${% if item.start_bid > item.current_bid %}
                    {{ item.start_bid }}
                {% else %}
                {{ item.current_bid }}
                {% endif %}</li>

                <li>Created: {{ item.creation }}
                </li> {% if item.status == False %}
            <li>Status: <strong>Closed</strong></li>

                {% else %}
                <li>Status: <strong>Open</strong></li>
                {% endif %}
            </ul>
            </li>
            </ul>
            </li>
    <hr>
    {% endfor %}
</ul>
{% endblock %}